<div class="row content-box">
  <div class="small-12 columns">
    <div class="book-details-wrapper" *ngIf="book">
      <h3>{{book.title}} <small>von {{book.author}}</small></h3>
      <div class="row small-up-1 medium-up-2 large-up-3">
        <div class="column">
          <div class="card">
            <div class="card-section">
              <ul class="no-style">
                <li>hinzugefügt am: {{book.createdAt | date}}</li>
                <li>ASIN: <a [href]="'https://amazon.de/dp/' + book._id" target="_blank">{{book._id}}</a></li>
                <li>aktueller Preis: {{book.currentPrice}}</li>
                <li>aktueller Rang: {{book.currentRank}} <small>({{book.prevRank}})</small></li>
                <li>letztes Preis/Rang Update: {{book.lastHistoryUpdate | date}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-section">
              <ul class="no-style">
                <li>Autor: {{book.author}}</li>
                <li>ASIN: <a [href]="'https://amazon.de/dp/' + book._id" target="_blank">{{book._id}}</a></li>
                <li>aktueller Preis: {{book.currentPrice}}</li>
                <li>aktueller Rang: {{book.currentRank}} <small>({{book.prevRank}})</small></li>
                <li>letztes Preis/Rang Update: {{book.lastHistoryUpdate | date}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-section">
              <h4>Letztes History update</h4>
              <p>Abgleich von Preis und Rang</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
