$main-color: #1E2A31;
$second-color: #2B3942;
$second-sub-color: #22313A;
$base-text-color: #8a9ba1;
$main-text-color: #b4bfc3;
$second-text-color: rgba(177,188,192,.47);
$highlight-text-color: #edeff0;
$border-radius: 2px;
